In [1]:
import os
import pandas as pd
import numpy as np
import sqlalchemy as sql
from pathlib import Path

In [2]:
ipo_df = pd.read_csv(
    Path("./IPODataFull.csv")
)

C:\Users\ryans\Anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (1342,1425,1432,1543,1546,1549,1551,1552,1553,1562,1587,1588,1605,1608,1615,1619,1620,1621,1622,1629,1630,1632,1633,1640,1641,1642,1643,1644,1646) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,Year,Month,Day,dayOfWeek,closeDay0,...,usableCEOAge,usableCEOGender,usablePresidentAge,usablePresidentGender,FoundingDateGrouped,yearDifferenceGrouped,Profitable,Safe,HomeRunDay,HomeRun
0,A,122,249,200+,NaN,1999,11,18,3,28.6358,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,77.0,1
1,AAC,131,262,200+,232.0,2014,10,2,3,18.5000,...,40 - 49,male,Blank,Blank,2011 - present,Unknown,1,1,NaN,0
2,AAOI,125,262,200+,6054.0,2013,9,26,3,9.9600,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0
3,AAP,128,261,200+,NaN,2001,11,29,3,13.9000,...,Blank,Blank,Blank,Blank,1901 - 1950,Unknown,1,0,NaN,0
4,AAT,123,127,100 - 149,181.0,2011,1,13,3,21.2500,...,Blank,Blank,Blank,Blank,2001 - 2010,Unknown,0,0,NaN,0

In [4]:
ipo_df.drop(ipo_df.iloc[:, 14:1320], inplace = True, axis = 1)

In [5]:
ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,Year,Month,Day,dayOfWeek,closeDay0,...,usableCEOAge,usableCEOGender,usablePresidentAge,usablePresidentGender,FoundingDateGrouped,yearDifferenceGrouped,Profitable,Safe,HomeRunDay,HomeRun
0,A,122,249,200+,NaN,1999,11,18,3,28.6358,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,77.0,1
1,AAC,131,262,200+,232.0,2014,10,2,3,18.5000,...,40 - 49,male,Blank,Blank,2011 - present,Unknown,1,1,NaN,0
2,AAOI,125,262,200+,6054.0,2013,9,26,3,9.9600,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0
3,AAP,128,261,200+,NaN,2001,11,29,3,13.9000,...,Blank,Blank,Blank,Blank,1901 - 1950,Unknown,1,0,NaN,0
4,AAT,123,127,100 - 149,181.0,2011,1,13,3,21.2500,...,Blank,Blank,Blank,Blank,2001 - 2010,Unknown,0,0,NaN,0

In [6]:
ipo_df.drop(ipo_df.iloc[:, 6:9], inplace = True, axis = 1)

In [7]:
ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,Year,closeDay0,highDay0,openDay0,lowDay0,...,usableCEOAge,usableCEOGender,usablePresidentAge,usablePresidentGender,FoundingDateGrouped,yearDifferenceGrouped,Profitable,Safe,HomeRunDay,HomeRun
0,A,122,249,200+,NaN,1999,28.6358,33.5207,27.3725,30.6572,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,77.0,1
1,AAC,131,262,200+,232.0,2014,18.5000,20.1000,17.6000,20.0000,...,40 - 49,male,Blank,Blank,2011 - present,Unknown,1,1,NaN,0
2,AAOI,125,262,200+,6054.0,2013,9.9600,10.0900,9.3700,10.0000,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0
3,AAP,128,261,200+,NaN,2001,13.9000,14.4667,13.3833,13.4000,...,Blank,Blank,Blank,Blank,1901 - 1950,Unknown,1,0,NaN,0
4,AAT,123,127,100 - 149,181.0,2011,21.2500,22.0000,21.1800,21.5300,...,Blank,Blank,Blank,Blank,2001 - 2010,Unknown,0,0,NaN,0

In [8]:
ipo_df.set_index("Year", inplace=True)

In [9]:
ipo_df.head()

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,...,usableCEOAge,usableCEOGender,usablePresidentAge,usablePresidentGender,FoundingDateGrouped,yearDifferenceGrouped,Profitable,Safe,HomeRunDay,HomeRun
Year,,,,,,,,,,,,,,,,,,,,,
1999,A,122,249,200+,NaN,28.6358,33.5207,27.3725,30.6572,59753154.0,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,77.0,1
2014,AAC,131,262,200+,232.0,18.5000,20.1000,17.6000,20.0000,2799073.0,...,40 - 49,male,Blank,Blank,2011 - present,Unknown,1,1,NaN,0
2013,AAOI,125,262,200+,6054.0,9.9600,10.0900,9.3700,10.0000,948999.0,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,1,0,NaN,0
2001,AAP,128,261,200+,NaN,13.9000,14.4667,13.3833,13.4000,371100.0,...,Blank,Blank,Blank,Blank,1901 - 1950,Unknown,1,0,NaN,0
2011,AAT,123,127,100 - 149,181.0,21.2500,22.0000,21.1800,21.5300,15536889.0,...,Blank,Blank,Blank,Blank,2001 - 2010,Unknown,0,0,NaN,0

In [10]:
ipo_sorted = ipo_df.sort_values(["Year"], ascending=True)

In [11]:
ipo_sorted.head()

,Symbol,DaysBetterThanSP,daysProfit,daysProfitGrouped,exactDiffernce,closeDay0,highDay0,openDay0,lowDay0,volumeDay0,...,usableCEOAge,usableCEOGender,usablePresidentAge,usablePresidentGender,FoundingDateGrouped,yearDifferenceGrouped,Profitable,Safe,HomeRunDay,HomeRun
Year,,,,,,,,,,,,,,,,,,,,,
1996,NBIX,99,43,0 - 49,NaN,12.5000,13.2500,11.0000,12.5000,4194099.0,...,Blank,Blank,Unknown,Unknown,1951 - 2000,Unknown,0,0,NaN,0
1996,GLBZ,13,0,0 - 49,NaN,9.6455,9.6455,9.6455,9.6455,0.0,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,0,0,NaN,0
1996,ARCW,75,254,200+,3358.0,2.3400,2.3400,1.9500,NaN,1794.0,...,Blank,Blank,Unknown,Unknown,1951 - 2000,Unknown,1,0,80.0,1
1996,ARDM,86,105,100 - 149,NaN,1950.0000,2225.0000,1903.2000,1950.0000,10848.0,...,Blank,Blank,Unknown,Unknown,1951 - 2000,Unknown,0,0,NaN,0
1996,RUSHB,65,70,50 - 99,NaN,4.6667,4.6667,4.0833,4.6667,2060099.0,...,Blank,Blank,Blank,Blank,1951 - 2000,Unknown,0,0,NaN,0