### This file is used to pull volume data using API keys on IPOs during the period of 2019-2021.

In [131]:
# Setting imports
import os
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import csv
from pathlib import Path

In [2]:
# Loading environment variable
load_dotenv()

True

In [3]:
# Setting the variables for the Alpaca API and secret keys
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
# Creating the Alpaca tradeapi.REST object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

### This section pulls the data on each of the IPOs in 2019

In [5]:
# Setting timeframe to 1D 
timeframe = "1D"

In [6]:
# Setting tickers that went public on same date
tickers = ["SXTC", "MTC", "MDJH", "BCOW", "RBKB", "ANDA", "NFE"]

In [7]:
# Formatting IPO date as ISO format
start_date = pd.Timestamp("2019-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-01-31", tz="America/New_York").isoformat()

In [8]:
# Using the Alpaca get_barset function to get IPO volume on day 1
jan_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

# Review the first 5 rows of the Alpaca DataFrame
jan_2019_df

                          ANDA                            BCOW           \
                          open high  low close volume     open     high
time
2019-01-04 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN      NaN      NaN
2019-01-07 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN      NaN      NaN
2019-01-08 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN      NaN      NaN
2019-01-09 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  10.4100  10.5000
2019-01-10 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.5500  10.1000
2019-01-11 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  10.0000  10.0000
2019-01-14 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.9900   9.9900
2019-01-15 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.8500  10.0300
2019-01-16 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  10.0300  10.0300
2019-01-17 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.7000   9.9300
2019-01-18 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.7800   9.9000
2019-01-22 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.8500   9.8500
2019-01-23 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.8200   9.8200
2019-01-24 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.6100   9.7500
2019-01-25 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.6700   9.6800
2019-01-28 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.6100   9.6246
2019-01-29 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.5396   9.5396
2019-01-30 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.5000   9.5000
2019-01-31 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.4500   9.4690

                                                      ...    RBKB           \
                              low    close    volume  ...    open     high
time                                                  ...
2019-01-04 05:00:00+00:00     NaN      NaN       NaN  ...     NaN      NaN
2019-01-07 05:00:00+00:00     NaN      NaN       NaN  ...     NaN      NaN
2019-01-08 05:00:00+00:00     NaN      NaN       NaN  ...     NaN      NaN
2019-01-09 05:00:00+00:00  9.6200   9.6500  211436.0  ...     NaN      NaN
2019-01-10 05:00:00+00:00  9.4573   9.9999  273092.0  ...     NaN      NaN
2019-01-11 05:00:00+00:00  9.8537   9.8556   22900.0  ...     NaN      NaN
2019-01-14 05:00:00+00:00  9.7600   9.9001   16999.0  ...     NaN      NaN
2019-01-15 05:00:00+00:00  9.7500  10.0300   35509.0  ...     NaN      NaN
2019-01-16 05:00:00+00:00  9.9500  10.0000    6437.0  ...     NaN      NaN
2019-01-17 05:00:00+00:00  9.6892   9.7100   24512.0  ...  11.300  11.8500
2019-01-18 05:00:00+00:00  9.7100   9.7527   17055.0  ...  11.740  11.7500
2019-01-22 05:00:00+00:00  9.6800   9.7400    9888.0  ...  11.610  11.8400
2019-01-23 05:00:00+00:00  9.6900   9.7420   11700.0  ...  11.760  11.9000
2019-01-24 05:00:00+00:00  9.6100   9.6100   21525.0  ...  11.880  11.8800
2019-01-25 05:00:00+00:00  9.5792   9.5873    3300.0  ...  11.601  11.6611
2019-01-28 05:00:00+00:00  9.5600   9.5615   14000.0  ...  11.660  11.7000
2019-01-29 05:00:00+00:00  9.4550   9.4600   20000.0  ...  11.700  11.8000
2019-01-30 05:00:00+00:00  9.4500   9.4500    8260.0  ...  11.790  11.7900
2019-01-31 05:00:00+00:00  9.4500   9.4520    8457.0  ...  11.701  11.8000

                                                       SXTC                   \
                              low    close    volume   open     high     low
time
2019-01-04 05:00:00+00:00     NaN      NaN       NaN   4.49   5.9900  4.4000
2019-01-07 05:00:00+00:00     NaN      NaN       NaN   6.80   6.8000  5.6854
2019-01-08 05:00:00+00:00     NaN      NaN       NaN   6.45   7.0000  6.0501
2019-01-09 05:00:00+00:00     NaN      NaN       NaN   6.75  15.6800  6.7500
2019-01-10 05:00:00+00:00     NaN      NaN       NaN  17.60  23.3500  6.8100
2019-01-11 05:00:00+00:00     NaN      NaN       NaN   7.84   7.8400  6.1500
2019-01-14 05:00:00+00:00     NaN      NaN       NaN   6.21   6.6400  5.4000
2019-01-15 05:00:00+00:00     NaN      NaN       NaN   5.51   5.7900  4.7000
2019-01-16 05:00:00+00:00     NaN      NaN       NaN   4.70   5.0001  4.5300
2019-01-17 05:00:00+00:00  11.300  11.6300  877638.0   4.73   5.2900  4.5338
2019-01-18 05:00:00+00:00  11.500  11.6120   78998.0   4.75   5.0800  4.4800
2019-01-22 05:00:00+00:00  11.580  11.8030  197973.0   4.60   4.8600  4.3000
2019-01-23 05:00:00+00:00  11.720  11.9000   93869.0   4.19   4.5784  3.7200
2019-01-24 05:00:00+00:00  11.520  11.6100   78958.0   3.91   4.0599  3.8000
2019-01-25 05:00:00+00:00  11.600  11.6200   42665.0   3.90   4.0000  3.7200
2019-01-28 05:00:00+00:00  11.585  11.6500   45308.0   3.91   4.0400  3.6180
2019-01-29 05:00:00+00:00  11.610  11.7600   63078.0   3.68   4.0600  3.6800
2019-01-30 05:00:00+00:00  11.650  11.6900   83126.0   4.07   8.4700  4.0147
2019-01-31 05:00:00+00:00  11.550  11.5947   69853.0   5.56   7.9500  5.5600


                             close   volume
time
2019-01-04 05:00:00+00:00   5.7400    47792
2019-01-07 05:00:00+00:00   6.4999    24518
2019-01-08 05:00:00+00:00   6.5100    21244
2019-01-09 05:00:00+00:00  11.5073    80319
2019-01-10 05:00:00+00:00   7.8000   614124
2019-01-11 05:00:00+00:00   6.4500   255251
2019-01-14 05:00:00+00:00   5.6800    91730
2019-01-15 05:00:00+00:00   4.9690   142898
2019-01-16 05:00:00+00:00   4.6500   118509
2019-01-17 05:00:00+00:00   4.9999    88009
2019-01-18 05:00:00+00:00   4.6300    53325
2019-01-22 05:00:00+00:00   4.3201    51549
2019-01-23 05:00:00+00:00   3.8203    56387
2019-01-24 05:00:00+00:00   3.8800    28752
2019-01-25 05:00:00+00:00   3.7960    19767
2019-01-28 05:00:00+00:00   3.7300    26923
2019-01-29 05:00:00+00:00   4.0260    27319
2019-01-30 05:00:00+00:00   5.8901  4104977
2019-01-31 05:00:00+00:00   7.1173  3230043

[19 rows x 35 columns]

In [9]:
# February 2019

In [10]:
tickers = ["GMHI", "INMB", "IPV", "MNCL", "ALEC", "HARP", "GOSS", "RMG", "ANCN", "IMAC", "TCRR", "AREC", "MITO", "HOTH", "SOLY", "ACAM", "SLGG", "SHLL", "DPHC", "KLDO"]

In [11]:
start_date = pd.Timestamp("2019-02-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-02-28", tz="America/New_York").isoformat()

In [12]:
feb_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [13]:
# March 2019

In [14]:
tickers = ["HCAC", "THCB", "SWAV", "FUTU", "TRNE", "TIGR", "INSU", "LEVI", "GNFT", "WTRE", "JFK", "DTIL", "LYFT", "PUYI"]

In [15]:
start_date = pd.Timestamp("2019-03-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-03-31", tz="America/New_York").isoformat()

In [16]:
mar_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [17]:
# April 2019

In [18]:
tickers = ["PBTS", "RUHN", "TW", "SILK", "RPLA", "NGM", "GHSI", "PD", "TUFN", "JMIA", "TPTX", "PLMR", "BWAY", "PINS", "ZM", "HOOK", "GNLN", "MNRL", "WAFU"]

In [19]:
start_date = pd.Timestamp("2019-04-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-04-30", tz="America/New_York").isoformat()

In [20]:
apr_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [21]:
# May 2019

In [22]:
tickers = ["SY", "BYND", "TMDX", "ATIF", "SCPL", "YJ", "RRBI", "TBBA", "TRVI", "LCA", "PSN", "HHR", "CRTX", "AXLA", "MEC", "NXTC", "SPFI", "UBER", "SONM", "JFIN", "AGBA", "APLT", "PSTL", "FSLY", "AVTR", "LKNCY", "GXGX", "IDYA", "BCYC", "RTLR"]

In [23]:
start_date = pd.Timestamp("2019-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-05-31", tz="America/New_York").isoformat()

In [24]:
may_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [25]:
# June 2019

In [26]:
tickers = ["GOTU", "HYAC", "RVLV", "CRWD", "MWK", "FVRR", "CHWY", "STOK", "BCEL", "WORK", "SMMC", "AKRO", "PSNL", "PRVL", "GO", "CMBM", "LINX", "MORF", "CHNG", "ADPT", "BBIO", "REAL", "KRTX"]

In [27]:
start_date = pd.Timestamp("2019-06-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-06-30", tz="America/New_York").isoformat()

In [28]:
jun_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [29]:
# July 2019

In [30]:
tickers = ["RMBI", "PIC", "THCA", "SCPE", "DOYU", "MIRM", "AMK", "FULC", "ORCC", "PHR", "OAC", "CPAA", "IHRT", "AFYA", "IFS", "MDLA", "EIC", "LVGO", "HCAT", "PROS", "NOVA", "CSTL", "VIST", "SBE", "BHAT", "WSG", "NFIN", "BORR"]

In [31]:
start_date = pd.Timestamp("2019-07-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-07-31", tz="America/New_York").isoformat()

In [32]:
jul_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [33]:
# August 2019

In [34]:
tickers = ["SNDL", "DT", "KRUS", "ORSN", "HKIB", "INMD", "PLIN", "JFU", "CFB"]

In [35]:
start_date = pd.Timestamp("2019-08-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-08-31", tz="America/New_York").isoformat()

In [36]:
aug_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [37]:
# September 2019

In [38]:
tickers = ["SDC", "TXG", "STSA", "SWTX", "ALRS", "NET", "NVST", "IGMS", "XGN", "PING", "DDOG", "PTON", "OPRT"]

In [39]:
start_date = pd.Timestamp("2019-09-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-09-30", tz="America/New_York").isoformat()

In [40]:
sep_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [41]:
# October 2019

In [42]:
tickers = ["APRE", "MCBS", "FREQ", "VIE", "BNTX", "HBT", "VIR", "IPHA", "BRBR", "GLEO", "LATN", "BRP", "HAPP", "TFPP", "DAO", "PGNY", "PHAT", "CABA", "AIH", "OYST", "RAPT"]

In [43]:
start_date = pd.Timestamp("2019-10-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-10-31", tz="America/New_York").isoformat()

In [44]:
oct_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [45]:
# November 2019

In [46]:
tickers = ["SFTW", "DUO", "MCMJ", "QK", "DFNS", "CNTG", "GRTX", "SI", "MOHO", "KRKR", "SRAC", "CNSP", "TELA", "ETNB", "YAYO", "GRNV", "AMHC", "SAQN", "CAN", "SITM", "PINE", "CHPM", "PTAC"]

In [47]:
start_date = pd.Timestamp("2019-11-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-11-30", tz="America/New_York").isoformat()

In [48]:
nov_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [49]:
# November 2019

In [50]:
tickers = ["LMPX", "XP", "LIVK", "BILL", "EH", "OCFT", "SPT", "CIIC", "HCCO", "INDO", "MNPR", "MKD"]

In [51]:
start_date = pd.Timestamp("2019-12-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2019-12-31", tz="America/New_York").isoformat()

In [52]:
dec_2019_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

### This section pulls the data on each of the IPOs in 2020

In [53]:
# January 2020

In [54]:
tickers = ["LIZI", "DNK", "VEL", "IMAB", "SCVX", "GHIV", "ANVS", "BDTX", "ANPC", "ARQT", "REYN", "ONEM"]

In [55]:
start_date = pd.Timestamp("2020-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-01-31", tz="America/New_York").isoformat()

In [56]:
jan_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [57]:
# February 2020

In [58]:
tickers = ["BEAM", "PPD", "SDGR", "CSPR", "PFHD", "ONEW", "NREF", "CCAC", "GNRS", "HUIZ", "RVMD", "GRIL", "ZGYH", "MEDS", "CCXX", "NBAC", "ESSC", "DMYT", "ZCMD", "PASG",]

In [59]:
start_date = pd.Timestamp("2020-02-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-02-28", tz="America/New_York").isoformat()

In [60]:
feb_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [61]:
# March 2020

In [62]:
tickers = ["GFL", "FEAC", "LSAC", "DFPH", "IMRA"]

In [63]:
start_date = pd.Timestamp("2020-03-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-03-31", tz="America/New_York").isoformat()

In [64]:
mar_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [65]:
# April 2020

In [66]:
tickers = ["WIMI", "ZNTL", "KROS", "IPOC", "CHAQ", "ORIC", "PCPL", "IPOB", "FVAC"]

In [67]:
start_date = pd.Timestamp("2020-04-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-04-30", tz="America/New_York").isoformat()

In [68]:
apr_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [69]:
# May 2020

In [70]:
tickers = ["LYRA", "CGRO", "ROCH", "GAN", "LOAK", "SOAC", "KC", "AYLA", "CLEU", "NOVS", "ADCT", "BMRG", "LGVW", "SLQT", "NARI"]

In [71]:
start_date = pd.Timestamp("2020-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-05-31", tz="America/New_York").isoformat()

In [72]:
may_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [73]:
# June 2020

In [74]:
tickers = ["WMG", "PLRX", "ZI", "LEGN", "AMTI", "ARYB", "CALT", "MCAC", "DADA", "FOUR", "VRM", "UCL", "LTRN", "BNR", "AZEK", "GBIO", "RNA", "PCVX", "RPRX", "TREB", "FMTX", "RPTX", "NUZE", "PROG", "GTH", "BRLI", "ACI", "API", "PYPD", "EBON", "AKUS", "KCAC", "FUSE", "FUSN", "ADTX", "GSAH"]

In [75]:
start_date = pd.Timestamp("2020-06-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-06-30", tz="America/New_York").isoformat()

In [76]:
jun_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [77]:
# July 2020

In [78]:
tickers = ["DNB", "PANA", "ACCD", "LMND", "CPSR", "BLCT", "QH", "PSTX", "NKTX", "IVA", "PTK", "NCNO", "DEH", "GOCO", "MLAC", "HPX", "RLAY", "TIG", "BLI", "ALXO", "PAND", "RNLX", "JAMF", "PSTH", "PSAC", "MEG", "ERES", "EDTK", "ANNX", "ITOS", "NRIX", "ACND", "GRCY", "INZY", "ACEV", "VERX", "LI", "ALVR", "CCIV", "GOED", "VSTA", "ETAC", "VITL", "FTHM", "NHIC", "PRPB"]

In [79]:
start_date = pd.Timestamp("2020-07-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-07-31", tz="America/New_York").isoformat()

In [80]:
jul_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [81]:
# August 2020

In [82]:
tickers = ["YAC", "HSAQ", "RXT", "GOAC", "BIGC", "BOWX", "GRSV", "OSH", "RKT", "AFIB", "KSMT", "FRLN", "CMPI", "VMAC", "IBEX", "FSDC", "KBNT", "BEKE", "NTST", "RBAC", "DCT", "LCAP", "CVAC", "DGNR", "BFT", "INBX", "HRMY", "HZAC", "CLA", "KYMR", "NNOX", "FST", "BTAQ", "XPEV", "CFII", "HCDI", "GP", "AUVI"]

In [83]:
start_date = pd.Timestamp("2020-08-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-08-31", tz="America/New_York").isoformat()

In [84]:
aug_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [85]:
# September 2020

In [86]:
tickers = ["PRFX", "CMLF", "INAQ", "BCTG", "TWND", "CRHC", "ITAC", "SVAC", "NSH", "PIAI", "LSPD", "LEAP", "BSN", "TWCT", "SNPR", "OM", "SBG", "SAII", "SNOW", "ENPC", "MTCR", "STEP", "FROG", "EQD", "AMWL", "OACB", "RTP", "SUMO", "DYN", "BNL", "STWO", "PTVE", "CMPS", "NMMC", "VTRU", "U", "AHAC", "ATHA", "PMVC", "CRSR", "LSF", "GDRX", "BSY", "VIH", "PDAC", "TSHA", "GLSI", "AMST", "SYTA", "PMVP", "GRAY", "VACQ", "VIAO", "PRLD", "ORPH", "PLTR", "FGNA", "YALA", "QELL", "CD", "ASAN", "BQ"]

In [87]:
start_date = pd.Timestamp("2020-09-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-09-30", tz="America/New_York").isoformat()

In [88]:
sep_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [89]:
# October 2020

In [90]:
tickers = ["AGC", "RCHG", "LUNG", "IMPX", "AVO", "IGAC", "LXEH", "THRY", "CCCC", "ASO", "IMNM", "APSG", "AVAN", "ONCR", "VYGG", "ASAQ", "SEAH", "FMAC", "PACE", "MAAC", "TPGY", "SQFT", "NGAC", "EMPW", "PAIC", "FUBO", "AZYO", "IPOE", "IPOD", "STTK", "IH", "IPOF", "SPRB", "KRON", "INTZ", "CDAK", "FVAM", "EBC", "TMTS", "MNSO", "MOTN", "ARRY", "OPT", "BTWN", "KRBP", "TMPM", "PRAX", "EAR", "TARS", "ALGS", "GWAC", "DCRB", "HLXA", "HZON", "MSP", "SRSA", "YGMZ", "HIGA", "LFTR", "SPNV", "XPOA", "ABCM", "GHLD", "YSAC", "RICE", "MCFE", "TEKK", "BLSA", "CTAC", "EUCR", "FHTX", "LUXA", "MACU", "ACIC", "ROOT", "GATO", "BDSX", "ABST", "BOAC", "MAX", "AJAX", "GLTO", "DSAC", "LESL", "ALGM", "LU", "AVIR", "NBA", "JUPW", "SQZ", "BHSE", "CONX"]

In [91]:
start_date = pd.Timestamp("2020-10-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-10-31", tz="America/New_York").isoformat()

In [92]:
oct_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [93]:
# November 2020

In [94]:
tickers = ["DBDR", "ADOC", "NOAC", "CFAC", "HAAC", "BWAC", "DMYI", "DGNS", "PIPP", "OTRA", "ZNTE", "PHIC", "YSG", "TLS", "NGMS", "LNFA", "CHFW", "IIAC", "JYAC", "RTPZ", "OLMA", "LSAQ", "SHC", "ARBG", "CAS", "OCA", "MRVI", "KWAC", "BREZ", "GNPK", "HFEN", "VMAR", "VCVC", "SV", "OZON", "TINV", "SGAM"]

In [95]:
start_date = pd.Timestamp("2020-11-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-11-30", tz="America/New_York").isoformat()

In [96]:
nov_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [97]:
# December 2020

In [98]:
tickers = ["CAP", "TACA", "HTPA", "SPFR", "LOKB", "DCBO", "FPAC", "KNTE", "FTCV", "SEER", "SBTX", "SGTX", "PTIC", "YQ", "RAAC", "MUDS", "DDMX", "CND", "PUBM", "DASH", "AI", "NEBC", "HMCQ", "FLAC", "ALTU", "RMGB", "PCPC", "ABNB", "CTAQ", "HYFM", "SNRH", "EDTX", "GHVI", "CBAH", "VVOS", "MOTV", "GLAQ", "ROCC", "CERT", "TVAC", "ABCL", "NBTX", "FDMT", "DWIN", "KINZ", "OCG", "WNW", "BLUW", "ATA", "MRAC", "SCPS", "WISH", "BCAB", "CCV", "UPST", "SCOA", "COOL", "VIRI", "MDWT", "MTAC", "MASS", "IIII", "SVOK", "GFK", "DUNE", "ACKIT", "VII", "HCAR", "CFIV", "VHAQ", "GBS", "IKT", "VTAQ", "MRM"]

In [99]:
start_date = pd.Timestamp("2020-12-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-12-31", tz="America/New_York").isoformat()

In [100]:
dec_2020_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

### This section pulls the data on each of the IPOs in 2021

In [101]:
# January 2021

In [102]:
tickers = ["CRU", "BENE", "FVT", "AKIC", "KAIR", "PPGH", "STPC", "OMEG", "BLTS", "VCKA", "INKA", "AGCB", "VTIQ", "IVAN", "LHC", "GSAQ", "EPHY", "KLAQ", "SVFA", "TMKR", "PRSR", "EPWR", "CGEM", "GRCL", "LWAC", "PACX", "POW", "MCAD", "SWBK", "PAQC", "LJAQ", "SWET", "KUKE", "QLI", "ENFA", "GPAC", "ADEX", "BCYP", "AFRM", "MSGM", "HLAH", "DLCA", "NGAB", "FCAX", "PNTM", "FINM", "POSH", "WOOF", "ENVI", "SLCR", "MON", "AEAC", "HCCC", "HCIC", "GNAC", "ADER", "PLTK", "OCAX", "EAC", "ROT", "CLAS", "DRVN", "FOXW", "GMII", "TZPS", "GMBT", "LEGO", "OSTR", "MYTE", "DFH", "SHAC", "MNTK", "RLX", "VOSO", "PAX", "LMACA", "HUDI", "JCIC", "OEPW", "NAAC", "EUSG", "PV", "DHHC", "BIOT", "HCII", "LMAO", "BTNB", "EZGO", "SSAA", "NSTB", "DNZ", "CLIM", "TIRX", "CAHC", "SHLS", "CSTA", "HCAQ", "FSSI", "OCDX", "TLGA", "XM", "ITHX", "ZIM", "AGFY", "IGNY", "VINP", "BLUA", "TRIN", "BCAC", "NLSP", "CLRM", "EQHA", "HMPT", "MIT", "ZWRK", "GCAC", "CFV"]

In [103]:
start_date = pd.Timestamp("2021-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-01-31", tz="America/New_York").isoformat()

In [104]:
jan_2021_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [105]:
# February 2021

In [106]:
tickers = ["MDH", "JWSM", "NRAC", "THMA", "AAC", "TMAC", "PRPC", "ONTF", "KRNL", "GHAC", "TIXT", "ACII", "DCRN", "ASAX", "CENH", "LABP", "ITQ", "NXU", "SNSE", "ATC", "SANA", "TERN", "ANGN", "EVAX", "VOR", "COVA", "SDAC", "LHDX", "TBCP", "GSQD", "JOFF", "ATMR", "HHLA", "PHVS", "IMCR", "CPUH", "BOLT", "KURI", "FWAA", "CNEY", "RMGC", "QFTA", "BAOS", "SDH", "ENNV", "PGRW", "SPAQ", "GIG", "CPTK", "PMGM", "ADRA", "PICC", "EVOJ", "VENA", "RAAS", "ADAG", "SCOB", "BPTS", "DSP", "LGAC", "APGB", "VLON", "XPDI", "FORE", "BVS", "BMBL", "APR", "LDI", "PUCK", "IACB", "SGFY", "NEXI", "RCLF", "CVII", "CHAA", "CCVI", "LGVN", "SCLE", "TLIS", "TSIB", "BITE", "SLAC", "DBTX", "TCAC", "MSAC", "VRPX", "AUUD", "NVSA", "MACA", "ABGI", "PFDR", "FSII", "SPTK", "KAII", "KIII", "FSRX", "TWNI", "SPGS", "BRPM", "CFVI", "FACA", "ASPC", "VELO", "SLAM", "FTAA", "ANAC", "GSEV", "CMII", "GLBL", "SRNG", "BOAS", "HIII", "COLI", "SCR", "ISLE", "GIIX", "EJFA", "HUGS", "FLME", "ARYD", "LIII", "SBEA", "IBER", "WARR", "AGAC", "FACT", "ASZ", "MACQ", "AUS", "TWLV", "KCAC", "FSNB"]

In [107]:
start_date = pd.Timestamp("2021-02-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-02-28", tz="America/New_York").isoformat()

In [108]:
feb_2021_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [109]:
# March 2021

In [110]:
tickers = ["AMPI", "GBRG", "ARRW", "DHBC", "NDAC", "NSTD", "OHPA", "DHCA", "LOKM", "HYAC", "FTEV", "TSPQ", "ANZU", "SNII", "NSTC", "ISOS", "OSCR", "MACC", "ROCR", "RXRA", "PSAG", "KVSA", "AURC", "ACAH", "HERA", "TRCA", "ATAQ", "MBAC", "INNV", "IPVI", "IPVA", "TWNT", "DMYQ", "ATVC", "LHAA", "WPCB", "FRSG", "VPCC", "VPCB", "WPCA", "IPVF", "SVFB", "SVFC", "GROY", "PDOT", "ACQR", "RBLX", "ESM", "FRW", "FRXB", "VAQC", "AGGR", "SBII", "CLAA", "DTOC", "CPNG", "PTOC", "GAPA", "LCAA", "ATSP", "FHS", "SPKB", "FRON", "HAYW", "MITC", "FTPA", "ROSS", "GTPA", "GTPB", "CFFE", "RXDX", "JOAN", "LBPH", "SCAQ", "EBAC", "RTPY", "FZT", "WALD", "FVIV", "PLMI", "BGSX", "OLO", "GAMC", "SNCY", "TETC", "KSI", "ATHN", "KAHC", "JWEL", "NAPA", "TUYA", "AMAO", "FMIV", "GXII", "REVH", "GANX", "AAQC", "VEI", "RACB", "LDHA", "AFCG", "GGMC", "FNCH", "LGV", "TIL", "LVRA", "BYTS", "AFAQ", "CNTB", "MOVE", "UPC", "ACTD", "STRE", "DGNU", "RKTA", "NGCA", "GGPI", "NBST", "OPA", "TBSA", "VGII", "LEGA", "GLHA", "DISA", "CRZN", "KVSB", "KVSC", "DCRC", "NGC", "ACVA", "DOCN", "SEMR", "DSEY", "EEIQ", "LVTX", "MSDA", "CRCT", "VZIO", "LCA", "OLK", "ZH", "HYW", "IKNA", "ALHC", "DSGN", "TDUP", "EWTX", "TWOA", "MBTC", "ACHL", "COUR"]

In [111]:
start_date = pd.Timestamp("2021-03-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-03-31", tz="America/New_York").isoformat()

In [112]:
mar_2021_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [114]:
# April 2021

In [115]:
tickers = ["EM", "KARO", "ULCC", "COMP", "ACBA", "UTME", "PANA", "CMLT", "TIOA", "MPAC", "ADF", "VECT", "TPGS", "RPHM", "GLSPT", "TCVA", "ALKT", "YTPG", "COIN", "TSP", "AGL", "KRT", "EBET", "APP", "AKYA", "BMEA", "RXRX", "IFBD", "TRKA", "DV", "SKYT", "PATH", "KNBE", "ZY", "NPCE", "RAIN", "IMPL", "TMCI", "SWIM", "AGTI", "FTCI", "PRVA", "BSKY", "EDR", "TUGC", "AVAH", "HOWL", "IACC", "VACC"]

In [116]:
start_date = pd.Timestamp("2021-04-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-04-30", tz="America/New_York").isoformat()

In [117]:
apr_2021_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [118]:
# May 2021

In [119]:
tickers = ["ALF", "VLAT", "MAQC", "FSBC", "HNST", "VALN", "ANEB", "BWMN", "BRIV", "WDH", "DKDCA", "TALS", "OG", "FLGC", "SMWB", "GLBE", "IPW", "ORIA", "DBGI", "VERA", "OSI", "ARTA", "MCAE", "JZXN", "CPAR", "POND", "SQSP", "GIW", "SKYA", "RAM", "PCOR", "OTLY", "GFOR", "FWAC", "ZIP", "PSPC", "DYNS", "EGGF", "FLYW", "PAY", "DAWN", "OMIC", "FIGS", "CNTA", "OTEC",]

In [120]:
start_date = pd.Timestamp("2021-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-05-31", tz="America/New_York").isoformat()

In [121]:
may_2021_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [122]:
# June 2021

In [123]:
tickers = ["DLO", "ZME", "SPK", "MQ", "ISAA", "SMIH", "CLBR", "GACQ", "MNDY", "BSGA", "ZETA", "DIBS", "LSFT", "TASK", "HCNE", "BZ", "LITT", "LAAA", "JANX", "ALZN", "GSQB", "DILA", "WKME", "ZT", "MOLN", "CNVY", "RONI", "LYEL", "TRON", "VERV", "ISPC", "AOMR", "TRMR", "RERE", "AMAM", "ATAI", "IPSC", "DNAY", "CYT", "JUGG", "FEMY", "GPCO", "YMM", "MITA", "CXM", "FA", "GRVI", "FTVI", "BHG", "BON", "DOCS", "GLUE", "NLIT", "CFLT", "MIRO", "MCW", "GHRS", "GRPH", "GMVD", "MF", "TKNO", "ACXP", "ELEV", "GOBI", "EOCW", "DDL", "DNAD", "MCAF", "THCP", "DIDI", "CPOP", "AVTE", "YOU", "DNAC", "IAS", "XMTR", "CVRX", "LZ", "INTA", "SHQA", "DNAA", "S", "DNAB"]

In [124]:
start_date = pd.Timestamp("2021-06-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-06-30", tz="America/New_York").isoformat()

In [125]:
jun_2021_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

In [126]:
# July 2021

In [127]:
tickers = ["VRAR", "DNUT", "EVCM", "CURV", "GGGV", "HEPS", "CORS", "DRAY", "FICV", "WAVE", "ABOS", "NYXH", "RICO", "MITQ", "ALCC", "AGRI", "SNTG", "RNAZ", "ACRO", "GLTA", "GWII", "UNCY", "ARYE", "IINN", "JATT", "PECO", "SERA", "CLAQ", "FXLV", "SGHT", "MCG", "UPTD", "RPID", "RGC", "TWCB", "TCRX", "IMGO", "BRDG"]

In [128]:
start_date = pd.Timestamp("2021-07-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-07-31", tz="America/New_York").isoformat()

In [129]:
jul_2021_df = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

### This section concatenates the dataframes into one and writes the aggregated dataframe into a new csv file.

In [130]:
years_joined_df = pd.concat([
    jan_2019_df,
    feb_2019_df,
    mar_2019_df,
    apr_2019_df,
    may_2019_df,
    jun_2019_df,
    jul_2019_df,
    aug_2019_df,
    sep_2019_df,
    oct_2019_df,
    nov_2019_df,
    dec_2019_df,
    jan_2020_df,
    feb_2020_df,
    mar_2020_df,
    apr_2020_df,
    may_2020_df,
    jun_2020_df,
    jul_2020_df,
    aug_2020_df,
    sep_2020_df,
    oct_2020_df,
    nov_2020_df,
    dec_2020_df,
    jan_2021_df,
    feb_2021_df,
    mar_2021_df,
    apr_2021_df,
    may_2021_df,
    jun_2021_df,
    jul_2021_df,
], axis = 1)

display(years_joined_df.head())
display(years_joined_df.tail())

                          ANDA                          BCOW                \
                          open high  low close volume   open  high     low
time
2019-01-04 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN    NaN   NaN     NaN
2019-01-07 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN    NaN   NaN     NaN
2019-01-08 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN    NaN   NaN     NaN
2019-01-09 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN  10.41  10.5  9.6200
2019-01-10 05:00:00+00:00  NaN  NaN  NaN   NaN    NaN   9.55  10.1  9.4573

                                             ... VRAR                        \
                            close    volume  ... open high low close volume
time                                         ...
2019-01-04 05:00:00+00:00     NaN       NaN  ...  NaN  NaN NaN   NaN    NaN
2019-01-07 05:00:00+00:00     NaN       NaN  ...  NaN  NaN NaN   NaN    NaN
2019-01-08 05:00:00+00:00     NaN       NaN  ...  NaN  NaN NaN   NaN    NaN
2019-01-09 05:00:00+00:00  9.6500  211436.0  ...  NaN  NaN NaN   NaN    NaN
2019-01-10 05:00:00+00:00  9.9999  273092.0  ...  NaN  NaN NaN   NaN    NaN

                          WAVE
                          open high low close volume
time
2019-01-04 05:00:00+00:00  NaN  NaN NaN   NaN    NaN
2019-01-07 05:00:00+00:00  NaN  NaN NaN   NaN    NaN
2019-01-08 05:00:00+00:00  NaN  NaN NaN   NaN    NaN
2019-01-09 05:00:00+00:00  NaN  NaN NaN   NaN    NaN
2019-01-10 05:00:00+00:00  NaN  NaN NaN   NaN    NaN

[5 rows x 6400 columns]

                          ANDA                        BCOW                 \
                          open high  low close volume open high low close
time
2021-07-12 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  NaN  NaN NaN   NaN
2021-07-13 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  NaN  NaN NaN   NaN
2021-07-14 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  NaN  NaN NaN   NaN
2021-07-15 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  NaN  NaN NaN   NaN
2021-07-16 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  NaN  NaN NaN   NaN

                                  ...   VRAR                                   \
                          volume  ...   open     high   low  close     volume
time                              ...
2021-07-12 04:00:00+00:00    NaN  ...   9.80  10.0000  9.05   9.23   529243.0
2021-07-13 04:00:00+00:00    NaN  ...   9.51  11.2300  9.30  10.60  2645973.0
2021-07-14 04:00:00+00:00    NaN  ...  10.26  10.5222  9.56   9.87   451085.0
2021-07-15 04:00:00+00:00    NaN  ...   9.92  10.2600  9.18   9.28   553333.0
2021-07-16 04:00:00+00:00    NaN  ...   9.50   9.8400  8.78   9.11   381939.0

                            WAVE
                            open     high      low   close    volume
time
2021-07-12 04:00:00+00:00  13.38  13.8200  11.8400  11.930  359714.0
2021-07-13 04:00:00+00:00  11.61  13.9800  11.0000  12.270  290813.0
2021-07-14 04:00:00+00:00  12.80  12.9800  11.6401  11.805  147332.0
2021-07-15 04:00:00+00:00  11.56  11.5800  10.5600  10.640  147422.0
2021-07-16 04:00:00+00:00  10.81  11.3799  10.5001  10.550   28709.0

[5 rows x 6400 columns]

In [135]:
years_joined_df.to_csv("recent_ipos.csv")